.main{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: aqua;
}
.logo{
    width: 100px;
    margin-top: 1rem;
}
.navbar{
    display: flex;
    list-style: none;
    text-decoration: none;
    }
.navbar > ul {
    list-style: none;
    display: flex;
    display: flex;
}
.navbar >ul > li {
    margin: 1rem;
    list-style-type: none;
    
   
}
.navbar >ul >li >a{
    color: aqua;
    box-sizing: border-box;
    z-index: 10;
    
   
} 

