.main{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 3rem;
    background-color: rgb(132, 133, 132);
}
.logo{
    width: 100px;
    margin-top: 1rem;
}
.navbar{
    display: flex;
    list-style: none;
    text-decoration: none;
    }
.navbar > ul {
    list-style: none;
    display: flex;
    display: flex;
}
.navbar >ul > li {
    margin: 1rem;
    list-style-type: none;
    
   
}
.navbar >ul >li >a{
    color: rgb(7, 125, 185);
    box-sizing: border-box;
    z-index: 10;
    text-decoration: none;
} 
.navbar >ul >li >a:hover{
    color: aquamarine;
}
.navbar >ul >li >a:active{
    color: brown;
}
