.main-con{
    width: 350px;
    height: 450px;
    display: flex;
    display: inline-block;
}

.cards{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid greenyellow;
    display: inline-block;
    font-style: italic;
}

.cards__img {
    height: 300px;
    width: 300px;
    border-radius: 15px 15px 1px 1px;
}

.card__name {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    font-size: larger;
}

.card__language {
    font-weight: 400;
    
}

